.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.active {
    color: wheat;
}

.incorrect-answer {
    background-color: rgba(187, 22, 22, 0.3) !important;
}

.correct-answer {
    background-color: rgba(80, 231, 100, 0.3) !important;
}

.test-display {
    margin: 5em;
}

.test-header-display {
    text-align: center;
    text-decoration-line: underline;
}

.section-display {
    margin: 2em;
    background-color: rgba(208, 219, 210, 0.1)}

.section-header-display {
    text-align-last: right;
}

.table-break {
    background-color:rgba(208, 226, 210, 0.3) !important;
}