.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.assignments-list {}

.homework-card {
    background: transparent;
}

.homework-card-button {
    text-align: right !important;
    align-content: right !important;
    align-self: right !important;
    
}

.card-header {
    background-color: rgba(59, 160, 243, 0.3) !important;
}

.logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.active {
    color: wheat;
}

.incorrect-answer {
    background-color: rgba(187, 22, 22, 0.3) !important;
}

.correct-answer {
    background-color: rgba(80, 231, 100, 0.3) !important;
}

.test-display {
    margin: 5em;
}

.test-header-display {
    text-align: center;
    text-decoration-line: underline;
}

.section-display {
    margin: 2em;
    background-color: rgba(208, 219, 210, 0.1)}

.section-header-display {
    text-align-last: right;
}

.table-break {
    background-color:rgba(208, 226, 210, 0.3) !important;
}

.collapse-table {
    text-align: right !important;
    color: rgb(170, 42, 42);
}

.collapse-card {
    background-color: transparent !important;
}